* {
    box-sizing: border-box;
}

body{
    background-color: #23252C;
    color: white;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
}
.conatiner{
    background-color:#1A1B21;
    width: 330px;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
}


.info > img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.info{
    text-align: center;
}
h1{
    font-size: 25px;
    font-weight: 700;
    margin: .5em;
}

.job{
    font-weight: 400;
    color: #F3BF99;
    font-size: .8rem;
    margin-bottom: .5em;
}

a{
    font-weight: 400;
    color: #F5F5F5;
    font-size: .6rem;
    margin-top: 0;
    display: block;
    margin-bottom: 1em;
}

button{
    min-width: 300px;
    padding: .5em;
    border-radius: .5em;
}

footer{
    background-color: #161619;
    margin-top: 1em;
}

.icons-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.about,
.interests{
    font-weight: 700;
    font-size: 1rem;
    color: #F5F5F5;
    width: 340px;
    padding: 0 1em ;
}

.interests{
margin: 0 0 ;
}
.long-sentence{
    color: #DCDCDC;
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}

.title{
    margin: 1em 0;
}

li{
    width: 30px;
    margin-right: 2em;
}